*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Archivo', sans-serif;
  --ff-secondary: 'Poppins', monospace;

  --fw-reg: 400;
  --fw-bold: 700;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --color-background: #F0F0F7;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  font-size: 62.5%;
}

@media(min-width: 800px) {
  :root {
   --fs-h1: 4.5rem;
   --fs-h2: 3.75rem;
   --fs-h3: 1.5rem;
   --fs-body: 1.125rem;
 }
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
}

.container{
  width: 90vw;
  max-width: 700px;
}

